* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000020;
}

nav {
    position: fixed;
    /* Mantém a nav fixa no topo */
    top: 0;
    /* Fixa no topo da página */
    left: 0;
    /* Inicia do lado esquerdo da página */
    right: 0;
    /* Se estende até o lado direito da página */
    z-index: 1000;
    /* Garante que fique acima de outros elementos */
    background-color: #14141d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    height: 70px;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
    background-color: #09091400;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

main {
    background-color: #000020;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;

}

.nav-list {
    list-style: none;
    display: flex;

}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 50px;

}

.nav-item {
    display: flex;
    padding: 0 10px;
    height: 70px;
    align-items: center;

}

.meu-container {
    background-color: #000000;

}

.imagem-banner {
    position: relative;
    top: 70px;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    background-position: top center;
    background-size: cover;
    box-shadow: 4px 4px 4px rgba(255, 81, 0, 0.151);
    /* Sombra na parte de baixo da imagem */
    margin-bottom: 25px;
    /* Adicionei uma margem em baixo para afastar do conteúdo abaixo */

}

.nav-transparent {
    background-color: rgba(20, 20, 29, 0.9);
    transition: background-color 0.3s ease;
}

.main {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #020257, #000020);
}
.ingresso {
    width: 550px;
    height: fit-content;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.selecionar-ingresso {
    background: rgba(243, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}
.titulo {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}
.assentos {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.status {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 
.cadeira {
    font-size: 14px;
    position: relative;
}
.cadeira::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translate(0, -50%);
    width: 12px;
    height: 12px;
    background-color: white;
    outline: 1px solid rgb(120,120,120);
    border-radius: 1px;
}
.cadeira:nth-child(2)::before {
    background-color: #0f0f0f;
    outline: none;
}
.cadeira:nth-child(3)::before {
    background-color: #00ccff;
    outline: none;
}