@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: black;
    font-family: 'Roboto Flex',sans-serif;
}

nav {
    position: fixed;
    /* Mantém a nav fixa no topo */
    top: 0;
    /* Fixa no topo da página */
    left: 0;
    /* Inicia do lado esquerdo da página */
    right: 0;
    /* Se estende até o lado direito da página */
    z-index: 1000;
    /* Garante que fique acima de outros elementos */
    background-color: #14141d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    height: 70px;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
    background-color: #09091400;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

main {
    background-color: #00000f;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;

}

.nav-list {
    list-style: none;
    display: flex;

}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 50px;

}

.nav-item {
    display: flex;
    padding: 0 10px;
    height: 70px;
    align-items: center;

}

.meu-container {
    background-color: #000000;

}

.imagem-banner {
    position: relative;
    top: 70px;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    background-position: top center;
    background-size: cover;
    box-shadow: 4px 4px 4px rgba(255, 81, 0, 0.151);
    /* Sombra na parte de baixo da imagem */
    margin-bottom: 25px;
    /* Adicionei uma margem em baixo para afastar do conteúdo abaixo */

}

.nav-transparent {
    background-color: rgba(20, 20, 29, 0.9);
    transition: background-color 0.3s ease;
}

.main {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #020257, #000020);
}

.ingresso {
    width: 550px;
    height: fit-content;
    border-radius: 15px;
    padding: 15px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,108,199,1) 50%);
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.selecionar-ingresso {
    background: rgba(243, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

.titulo {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

.assentos {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.status {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cadeira {
    font-size: 14px;
    position: relative;
}

.cadeira::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translate(0, -50%);
    width: 12px;
    height: 12px;
    background-color: white;
    outline: 1px solid rgb(120, 120, 120);
    border-radius: 1px;
}

.cadeira:nth-child(2)::before {
    background-color: #0f0f0f;
    outline: none;
}

.cadeira:nth-child(3)::before {
    background-color: #47a3ff;
    outline: none;
}

.lupa {
    width: 20px;
    height: 20px;
}

.total-assento {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 15px;
    margin: 60px 0;
    margin-top: 30px;
    position: relative;
}

.assento {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 3px;
    outline: 1px solid rgb(180, 180, 180);
    cursor: pointer;
}

.total-assento input:checked+label {
    background-color: #47a3ff;
    outline: none;
}

.assento.reservado {
    background-color: rgb(0, 0, 0);
    outline: none;
    cursor: not-allowed;
    pointer-events: none;

}

input {
    display: none;
}

.screentext {
    color: white;
    font-family: sans-serif;
    display: flex;
    width: 300px;
    height: 20px;
    align-items: center;
    justify-content: center;
    background: rgb(151, 151, 151);
    border-radius: 6px;
}

.horarios {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.datas {
    width: 100%;
    display: flex;
    align-tracks: center;
    justify-content: space-evenly;
}

.datas-item {
    font-weight: 600;
    width: 50px;
    height: 50px;
    background-color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
}

.dia {
    font-size: 13px;
}

.horas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.hora {
    font-size: 14px;
    width: fit-content;
    padding: 7px 14px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    cursor: pointer;
}

.horarios input:checked+label {
    background-color: #47a3ff;
    color: white;
}

.preco {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}

.total div {
    display: flex;
    gap: 4px;
}

.total span {
    font-size: 12px;
    font-weight: 400;
}

.preco button {
    background-color: rgb(60, 60, 60);
    color: white;
    font-size: 14px;
    padding: 7px 10px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: none;
}

.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    height: 420px;
    top: 220px;
  }

.movies{
    background-color: white;
    width: 100%;
    height: 90%;
    border-radius: 3px;
    transition: 0.7s;
    box-shadow: 5px 5px 15px rgba(155, 155, 155, 0.5);
}

.swiper-slide{
    width: 1000px;
    height: 0px;
}

.movies:hover {
    transform: scale(1.05); 
}

.footer{
    font-family: poppins,sans-serif;
    color:white;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    box-shadow:-1px -4px 20px 0px rgba(155, 155, 155, 0.5);
    height: 120px;
    width: 100%;
    background: linear-gradient(to right, #000014, #000020);
}

.footer-p{
    display: flex;
    justify-content: flex-start;
    padding: 50px;
}

.git{
    width: 20px;
    height: 20px;
}

.nav-f{
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.title{
    color: white;
    position: absolute;
    font-size: 40px;
    left: 680px;
    top: 800px;
    font-weight: bold;
}
p {
    font-family: 'Roboto Flex';
    font-weight: bold;
    margin-left: 5px;

}
.conteudo-filme {
    font-family: 'Roboto flex';
    padding: 15px;
    width: 300px;
    height: fit-content;
    background-color: #ffffff;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 38%, rgba(0,108,199,1) 100%);
} 
.filme-cartaz {
    color: white;
    display: flex;
    padding: 8px;
    height: fit-content;
} .chainsaw-man-pag-1 {
    width: 94px;
    height: 130px;
} .classe-indicativa {
    display: flex;
    width: 20px; 
    height: 30px; 
} .sobre-filme {
    padding: 5px;
}
.xd-dublado {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 14px;
    margin: 1px;
    background-color: #000000;
    font-size: 10px;
    color: white;
    padding: 4px;
    border-radius: 3px;
} .detalhes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} .sinopse {
    margin-top: 200px;
    color: white;
} .h3-sinopse {
    margin-bottom: 10px;
    margin-left: 6px;
} .sinopse, p {
    font-size: 14px;
} .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    color: #fff; /* ou a cor que você preferir */
}