@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-family: Poppins,sans-serif;
    color: white;
    background: linear-gradient(to right, #020257, #000020);
}

.main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 800px;
    height: 500px;
    border-radius: 4px;
    background: linear-gradient(to right, #020236, #000020);
    box-shadow: 5px 5px 15px rgba(155, 155, 155, 0.5);
}

.img{
    display: flex;
    margin-left: 20px;
    justify-content: flex-start;
    align-items: center;
    height: 95%;
    width: auto;
}

.text{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 1px;
    margin-left:30px;
    
}

p{
    font-size: 12px;
}

#titulo{
    position: relative;
    bottom: 50px;
}

#titulo2{
    font-size: 15px;
    position: relative;
    bottom: 50px; 
}

img{
    height: 15px;
    box-shadow: 5px 5px 15px rgba(155, 155, 155, 0.5);
}

button{
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 80px;
    color: #020257;
    position: relative;
    top: 20px;
}
a{
    text-decoration: none;
    animation: none;
    transform: none;
    color: inherit;
}

#class18{
    border: 1px solid white;
}